doctype html
html(lang='en', ng-app='mainview', ng-init='groupurl = "#{groupurl}"')
head
  title=fikalistan
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  //script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
  

body
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand" href="#") Project name
      div#navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li.active 
            a(href="#") Manage weeks
          li
            a(href="#") Manage users
  .container-fluid
    h2 #{groupname}    
    ul.list-group
      each val in list
        li.list-group-item
          div= val.week + ' | ' + val.name
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js')
  //script(src="/javascripts/mainview.js")